@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
    /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/


}

.screen {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.apps {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
}

.app {
    padding: 4rem;
    border-radius: 50px;
    background-color: #00c9b7;
    margin: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    letter-spacing: 0.094em;
    transition: 0.5s;
}

#header {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    padding: 2rem;
    background-color: #A8EB12;
    color: rgb(34, 34, 34);
    border-radius: 1rem;
    margin-bottom: 3rem;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    letter-spacing: 0.094em;
    font-size: 30px;
}


.boutons {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "backward forward";
    gap: 0px 0px;
    margin-left: 20%;
    margin-right: 20%;
}

.bouton {
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    background: #051937;
    color: rgb(221, 221, 221);
    border-radius: 1rem;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    letter-spacing: 0.094em;
    text-align: center;
/*    transition: 0.5s;*/
}

#forward {
    grid-area: forward;
}

#backward {
    grid-area: backward;
}

/*
.bouton:hover {
    transition: 0.5s;
    transform: scale(1.025);
    box-shadow: 15px 15px 19px 1px rgb(0 0 0 / 20%);
}
*/

.app:hover {
    transition: 0.5s;
    transform: scale(1.025);
    box-shadow: 15px 15px 19px 1px rgb(0 0 0 / 20%);
}